// Base spacing
$base-spacing-unit: 24px;
$base-font-size: 16px;
$base-line-height: $base-spacing-unit;
$base-border-width: 1px;

// Spacing sizes
$spacing-smaller: calc($base-spacing-unit / 3);
$spacing-small: calc($base-spacing-unit / 2);
$spacing-normal: $base-spacing-unit;
$spacing-large: calc($base-spacing-unit * 1.5);
$spacing-larger: calc($base-spacing-unit * 2);
$spacing-largest: calc($base-spacing-unit * 3);

// Font sizes
$font-xsmall: calc($base-font-size / 1.6);
$font-small: calc($base-font-size / 1.3);
$font-normal: $base-font-size;
$font-large: calc($base-font-size * 1.5);
$font-larger: calc($base-font-size * 2);
$font-largest: calc($base-font-size * 3);

// Font weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-black: 700;
$font-weight-heading: $font-weight-bold;

// Header sizes
$header-size-1: calc($base-font-size * 2);
$header-size-2: calc($base-font-size * 1.5);
$header-size-3: calc($base-font-size * 1.35);
$header-size-4: calc($base-font-size * 1.2);
$header-size-5: $base-font-size;
$header-size-6: calc($base-font-size * 0.9);

// Border sizes
$border-xsmall: calc($base-border-width / 1.6);
$border-small: calc($base-border-width / 1.3);
$border-normal: $base-border-width;
$border-large: calc($base-border-width * 1.5);
$border-larger: calc($base-border-width * 2);
$border-largest: calc($base-border-width * 3);
