<h1>{{title}}</h1>
<p>{{description}}</p>

<div *ngIf="form" class="dem-form-container" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <!-- ProductId input field -->
        <mat-form-field appearance="fill">
            <mat-label>ID</mat-label>
            <input matInput id="productId" formControlName="productId" required>
        </mat-form-field>

        <!-- Group selection -->
        <mat-form-field appearance="fill">
            <mat-label>Gruppo</mat-label>
            <mat-select id="group" formControlName="group" [compareWith]="compareById" required>
                <mat-option [value]="group" *ngFor="let group of productGroups; let i = index">{{group.name}} ({{group.groupId}})</mat-option>
                <mat-option *ngIf="!productGroups || productGroups.length == 0">Nessun gruppo disponibile</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Size selection -->
        <mat-form-field appearance="fill">
            <mat-label>Formato</mat-label>
            <mat-select id="size" formControlName="size" [compareWith]="compareById" required>
                <mat-option [value]="size" *ngFor="let size of productSizes; let i = index">{{size.name}}</mat-option>
                <mat-option *ngIf="!productSizes || productSizes.length == 0">Nessun formato disponibile</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- NetWeight input field -->
        <mat-form-field appearance="fill">
            <mat-label>Peso Netto</mat-label>
            <input matInput id="netWeight" formControlName="netWeight">
        </mat-form-field>
    </div>
    
    <div class="prj-container-right">
        <button *ngIf="id" mat-raised-button color="accent" (click)="onSubmit()" [disabled]="form.invalid">Salva</button>
        <button *ngIf="!id" mat-raised-button color="accent" (click)="onSubmit()" [disabled]="form.invalid">Aggiungi</button>
        <button mat-raised-button color="warn" [routerLink]="formExitRoute">Annulla</button>
    </div>
</div>
