<p style="text-align:center;"><img class="home-pic" src="/img/home-pic.jpg" /></p>
<p>Web app creata con <b>Angular</b>, <b>ASP.NET Core</b>, <b>Entity Framework Core</b> e <b>Database SQL</b>.</p>

<p>Features disponibili:</p>
<ul>
  <li><b>Registrazione e autenticazione</b>.</li>
  <li> Possibilit&#224; di implementazione di <b>ruoli</b> per riservare le azioni pi&#249; importanti solo a specifici utenti.</li>
  <li><b>Consultazione e gestione</b> di un database contenente prodotti in molteplici formati divisi per gruppi e categorie.</li>
  <li> Supporto di <b>molteplici lingue</b> per i dati salvati nel database.</li>
  <li> Possibilit&#224; di <b>ricerca</b> dei dati tramite parole-chiave.</li>
  <li><b>API REST</b> pubblica.</li>
</ul>

<p>Utenti Demo:</p>
<ul>
  <li><b>Username:</b> administrator@localhost</li>
  <li><b>Email:</b> administrator@localhost</li>
  <li><b>Password:</b> Administrator1!</li>
  <li><b>Ruolo:</b> Administrator</li>
</ul>

<ul>
  <li><b>Username:</b> user@localhost</li>
  <li><b>Email:</b> user@localhost</li>
  <li><b>Password:</b> CommonUser1!</li>
  <li><b>Ruolo:</b> CommonUser</li>
</ul>
